h1{
    color: blanchedalmond;
}
.home{
    color: black;
}
.project_body{
    background-color: black;
    display: grid;
    grid-template-rows: 1fr 19fr 1fr;

}
.footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}