.header1{
    text-align: center;
    color: burlywood;
}
.container_main{
display: grid;
grid-template-rows: 1fr 1fr 1fr;
gap: 10px;
}

project_box{
    background-color: azure;
}
p{
    background-color: azure;
    text-align: center;
}