.contact_container{
    background: url("https://images.pexels.com/photos/7845371/pexels-photo-7845371.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  
}

.linkp{
  color: var(--base-color);
}

.header_contact{
  text-align: center;
  color: var(--base-color);
  margin: 10%;
}
@media only screen and (max-width: 1100px){
  .contact_container{
    width: 100%;
    height: 105%;
  }
}
li{
  color: aliceblue;
}

.social_list{
  text-align: center;
}