

.home_body{
background-image: url("https://dictionary.cambridge.org/images/thumb/white_noun_001_19234.jpg?version=5.0.213");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: absolute;
  width: 100%;
  height: 100%;
}


.social_link{
  text-align: center;
}

.gitlink{
  margin-left: 50%;
  margin-right: 50%;
}

.header1{
  background-image: url('https://media2.giphy.com/media/xT5LMGV2XA93OY0jJe/giphy.gif');
  -webkit-background-clip: text;
   -webkit-text-fill-color: black;
  font-size: 5rem;
  font-family: 'Shizuru', cursive;
  text-align: center;
}
.par_home{
  text-align: center;
  font-size: 2rem;
  font-family: 'Shizuru', cursive;
  color: black;
}
.pdfCv{
  color: aliceblue;
}
.github{
  background-image: url('https://64.media.tumblr.com/334170ba7548826c597e982463af3eab/tumblr_nsxsiu9Si51s39yzeo1_500.gifv');
  -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}


@media only screen and (max-width: 1000px){
	.header1{
    font-size: 8vw;
    text-align: center;
    word-wrap: break-word;
  }
  
  .home_body{
    background-image: url("https://i.pinimg.com/originals/5e/6d/ef/5e6defc11d4261d6536ab177b15e025c.gif")no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  width: fit-content;
  overflow-x: hidden;
    }
}