.home-body{
    background-image: url("https://static.wixstatic.com/media/adfeb7_49932c42ca494864994577ca08ee0ba0~mv2.gif");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
}
.header1{
  color: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx97pqHLOYMuK1SzBFhWuWrQbWNQDDSJNRcA&usqp=CAU');
  font-size: 400%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



@media only screen and (max-width: 900px){
	h1{
    font-size: 200%;
    text-align: center;
  }
  
}

@media only screen and (max-width: 600px){
	h1{
    font-size: 150%;
  }
  
}