.home-body{
    background-image: url("https://t4.ftcdn.net/jpg/02/00/68/69/360_F_200686968_KS9NVTJgvjMQs2FniVHyIJaAIcg5p7D0.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 100%;
  
  
}
.header1{
  color: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx97pqHLOYMuK1SzBFhWuWrQbWNQDDSJNRcA&usqp=CAU');
  font-size: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



@media only screen and (max-width: 900px){
	h1{
    font-size: auto;
    text-align: center;
  }
  
}

@media only screen and (max-width: 600px){
	h1{
    font-size: auto;
  }
  
}