

.home_body{
background: url("https://images.unsplash.com/photo-1615800098779-1be32e60cca3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=710&q=80");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: absolute;
  width: 100%;
  height: 100%;
}

.social_link{ 
  width: 10%; 
  position: absolute;
  bottom: 0px;
  margin-left: 45%;
}

.header1{
  
   -webkit-text-fill-color: var(--base-color);
  font-size: 5rem;
  font-family: 'Shizuru', cursive;
  text-align: center;
}

.par_home{
  text-align: center;
  font-size: 3rem;
  font-family: 'Shizuru', cursive;
  color: var(--base-color)
}
.pdfCv{
  color: aliceblue;
}



@media only screen and (max-width: 1000px){
	.header1{
    font-size: 4rem;
    text-align: center;
    word-wrap: break-word;
  }
  
  .home_body{
    background: url("https://dictionary.cambridge.org/images/thumb/white_noun_001_19234.jpg?version=5.0.213");
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  width: fit-content;
  overflow-x: hidden;
    }
    .social_link{ 
      text-align: center;
      width: 40%; 
      position: absolute;
      bottom: 0px;
      margin-left: 30%;
    }
}