.project_body{
    /* background: url("https://images.pexels.com/photos/316466/pexels-photo-316466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute; */
      top: 0;
      left: 0;
      height: auto;
      width: 100%;   
      overflow-x: hidden;
}


.header_project{
  color: var(--base-color);
}

.table{
  text-align: left;
  padding: 0%;
}

hr{
  color: yellow;
}


.video_description{
  display: flex;
  margin: 0.5%;
}
h2{
  color: var(--base-color);
  font-size: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
bold{
  color: red;
  font-weight: bold;
  font-size: larger;
}
p{
  color: var(--base-color);
}

img{
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  body{
    margin: 0px;
  }

  h1{
    margin:20%
  }
  .project-body{
    display: flex;
    flex-direction: row;
  }
  .video_description{
    display: grid;
  }
  .weatherAPI{ 
    width: 100%;
    height: 100%;
  }




}