.project-body{
    background-image: url("https://cutewallpaper.org/21/dark-4k-wallpapers/4K-Black-Wallpaper-57-images.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
      top: 0;
      left: 0;
      height: auto;
      width: 100%;   
}




.table{
  text-align: left;
  padding: 1%;
}
video{
  opacity: 0.9;
}
h1{
  color: rgb(236, 187, 135);
  
}


.video-description{
  display: flex;
  margin: 0.5%;
}
h2{
  color: rgb(233, 245, 255);
  font-size: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
bold{
  color: aliceblue;
  font-weight: bold;
  font-size: larger;
}
p{
  color: aliceblue;
}

.weatherAPI{
  border-radius: 100%;
  opacity: 0.6;
}

@media only screen and (max-width: 1000px) {
  .project-body{
    display: flex;
    flex-direction: row;
  }
  .weatherAPI{
    display: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
}