.project-body{
    background-image: url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    
}


/* .styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: none;
}

.styled-table thead tr {
  background-color: #242525;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  background-color: transparent;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #242525;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
} */

.table{
  text-align: center;
  padding: 1%;
}
video{
  opacity: 0.9;
}