*{
    margin: 0;
}
.social_bar{
    background-color: #171717;
    display: grid;
    grid-template-columns: 1fr;
}
.second_layer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30%;
}
.icons{
text-align: center;
}