
.social_bar{
    background-color: #030303;
    display: grid;
    grid-template-columns: 1fr;
}
.second_layer{
    margin-top: 2%;
    display:inline-block;margin-right:10px;
    display: flex;
    justify-content: space-between;
    gap: 3%;
    background-color: rgb(0, 0, 0);
}
i{
    text-align: center;
}

.social-link{
    
}
.icons1, .icons2{
    color:#030303
}

.icons1:hover:before {content:"LinkedIn"}
  .icons2:hover:before {content:"GitHub"}