*{
    margin: 0;
}
.social_bar{
    background-color: rgb(23, 23, 23);
    display: grid;
    grid-template-columns: 1fr;
}
.second_layer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10%;
}