/* @import url('https://fonts.googleapis.com/css2?family=Comforter&family=IBM+Plex+Sans+Thai+Looped:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comforter&family=IBM+Plex+Sans+Thai+Looped:wght@500&family=Loved+by+the+King&display=swap'); */
*{
  margin: 0;
}

.my_name{
    
    text-align: center;
    font-size: 50px;
    opacity: 0.3;
    color: rgb(249, 244, 244);
    margin-top: 8%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
  
}



button{
  height: 100%;
  
}

@media screen and (max-width: 700px) {
  .my_name{
    text-align: left;
    color: rgb(224, 254, 254);
  }
}